.projects-container {
  margin-top: 150px;

  & h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: var(--accentBlue);
  }

  .projects-txt {
    font-size: 18px;
    line-height: 24px;

    .intxt-link {
      color: var(--accentBlue);
      transition: 250ms ease;
      cursor: pointer;

      &:hover {
        color: #53cbff;
      }
    }
  }

  .projects-overview-wrapper {
    margin-top: 60px;
  }
}
