nav {
  display: flex;
  gap: 25px;

  @media screen and (max-width: 600px) {
    display: none;
  }

  .link {
    color: var(--text);
    font-size: 1.063rem;
    font-weight: 600;
    transition: 250ms ease;
    text-transform: capitalize;
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--accentBlue);
    }
  }
}
